<div class="container">
  <div class="jumbotron">
    <h2 class="h2-text">Listagem de Cupom de desconto</h2>
  </div>

  <button id="btn-add" class="btn btn-success" (click)="navToRegsCat()">Adicionar novo Cupom</button>

  <table id="table-list" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Valor</th>
        <th scope="col">Expira</th>
        <th scope="col" class="title-table">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of rowsCoupon">
        <td>{{ i.name }}</td>
        <td>{{ i.value }}</td>
        <td>{{ i.expire_at | date: 'dd/MM/yyyy'}}</td>
        <td class="action">
          <button type="button" class="btn btn-primary btn-md" (click)="update(i.id)">
            <i class="fa fa-pencil-square-o"></i>
          </button>
          <button type="button" class="btn btn-danger btn-md" (click)="delete(i.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>