<div class="container">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item" *ngFor="let i of pageArr">
          <a class="nav-link {{ i.active }}" href="javascript:void(0)" (click)="changePage(i.name)">{{ i.name }}</a>
        </li>
      </ul>
    </div>
    <div class="card-body" *ngIf="namePageAux === 'Minha conta'">
      <div class="container">
        <form class="needs-validation" role="form" [formGroup]="formulario" (ngSubmit)="onSubmit(formulario)" *ngIf="update == true"
          id="form">
          <div class="form-row">
            <div class="col-sm-12 col-md-4 mb-3">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" formControlName="name" id="name" placeholder="Nome" value="{{name}}" required>
              </div>
            </div>

            <div class="col-sm-12 col-md-3 mb-3">
              <div class="form-group">
                <label for="cpf">CPF</label>
                <input appCpf type="text" class="form-control" formControlName="cpf" id="cpf" placeholder="CPF" value="{{cpf}}" maxlength="14"
                  required>
              </div>
            </div>

            <div class="col-sm-12 col-md-5 mb-3">
              <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                  </div>
                  <input type="text" class="form-control" formControlName="email" id="email" placeholder="Email" aria-describedby="inputGroupPrepend"
                    value="{{email}}" readonly>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-sm-12 col-md-2 mb-3">
              <div class="form-group">
                <label for="cep">CEP</label>
                <input appCep type="text" class="form-control" formControlName="cep" id="cep" placeholder="CEP" value="{{cep}}" maxlength="10"
                  (blur)="onblur($event)" required>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-3">
              <div class="form-group">
                <label for="city">Cidade</label>
                <input type="text" class="form-control" formControlName="city" id="city" placeholder="Cidade" value="{{city}}" required>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-3">
              <div class="form-group">
                <label for="street">Rua</label>
                <input type="text" class="form-control" formControlName="street" id="street" placeholder="Rua" value="{{street}}" required>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-3">
              <div class="form-group">
                <label for="neighborhood">Bairro</label>
                <input type="text" class="form-control" formControlName="neighborhood" id="neighborhood" placeholder="Bairro" value="{{neighborhood}}"
                  required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-2 mb-3">
              <div class="form-group">
                <label for="state">Estado</label>
                <input type="text" class="form-control" formControlName="state" id="state" placeholder="Estado" value="{{state}}" required>
              </div>
            </div>
            <div class="col-sm-12 col-md-2 mb-3">
              <div class="form-group">
                <label for="num">Número</label>
                <input type="number" class="form-control" formControlName="num" id="num" placeholder="Número" value="{{num}}" required>
              </div>
            </div>
            <div class="col-sm-12 col-md-2 mb-3">
              <div class="form-group">
                <label for="comp">Complemento</label>
                <input type="number" class="form-control" formControlName="comp" id="comp" placeholder="Complemento" value="{{comp}}" required>
              </div>
            </div>
          </div>
          <button class="btn btn-success" type="submit">Atualizar</button>
          <button class="btn btn-danger" type="button" (click)="clickUpdate()" style="margin-left: 1%">Cancelar</button>
        </form>

        <form class="needs-validation" role="form" [formGroup]="formulario" (ngSubmit)="onSubmit(formulario)" *ngIf="update == false"
          id="form">
          <div class="form-row">
            <div class="col-sm-12 col-md-4 mb-3">
              <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" formControlName="name" id="name" placeholder="Nome" value="{{name}}" required readonly>
              </div>
            </div>

            <div class="col-sm-12 col-md-3 mb-3">
              <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" formControlName="cpf" id="cpf" placeholder="CPF" value="{{cpf}}" required readonly>
              </div>
            </div>

            <div class="col-sm-12 col-md-5 mb-3">
              <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                  </div>
                  <input type="text" class="form-control" formControlName="email" id="email" placeholder="Email" aria-describedby="inputGroupPrepend"
                    value="{{email}}" readonly>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-sm-12 col-md-2 mb-3">
              <div class="form-group">
                <label for="cep">CEP</label>
                <input type="text" class="form-control" formControlName="cep" id="cep" placeholder="CEP" value="{{cep}}" required readonly>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-3">
              <div class="form-group">
                <label for="city">Cidade</label>
                <input type="text" class="form-control" formControlName="city" id="city" placeholder="Cidade" value="{{city}}" required readonly>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-3">
              <div class="form-group">
                <label for="street">Rua</label>
                <input type="text" class="form-control" formControlName="street" id="street" placeholder="Rua" value="{{street}}" required
                  readonly>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-3">
              <div class="form-group">
                <label for="neighborhood">Bairro</label>
                <input type="text" class="form-control" formControlName="neighborhood" id="neighborhood" placeholder="Bairro" value="{{neighborhood}}"
                  required readonly>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-2 mb-3">
              <div class="form-group">
                <label for="state">Estado</label>
                <input type="text" class="form-control" formControlName="state" id="state" placeholder="Estado" value="{{state}}" required
                  readonly>
              </div>
            </div>
            <div class="col-sm-12 col-md-2 mb-3">
              <div class="form-group">
                <label for="num">Número</label>
                <input type="number" class="form-control" formControlName="num" id="num" placeholder="Número" value="{{num}}" required readonly>
              </div>
            </div>
            <div class="col-sm-12 col-md-2 mb-3">
              <div class="form-group">
                <label for="comp">Complemento</label>
                <input type="number" class="form-control" formControlName="comp" id="comp" placeholder="Complemento" value="{{comp}}" required
                  readonly>
              </div>
            </div>
          </div>
          <div class="row" id="form">
            <div class="col-sm-12 col-md-2 mb-3" style="margin-top: 2.8%; margin-right: 1%;">
              <button class="btn btn-primary" type="button" (click)="clickUpdate()">Atualizar meus dados</button>
            </div>
            <div class="col-sm-12 col-md-2 mb-3" style="margin-top: 3.3%">
              <a id="forgot_pass" (click)="change_pass()">Trocar minha senha</a>
            </div>
          </div>
        </form>

        <form class="needs-validation" role="form" [formGroup]="formnewpass" (ngSubmit)="updatePass(formnewpass)" *ngIf="chagepassBool == true"
          id="form">
          <div class="col-sm-12 col-md-12 mb-3">
            <div class="form-group">
              <label for="oldpass">Senha antiga</label>
              <input type="password" class="form-control" formControlName="oldpass" id="oldpass" placeholder="Senha antiga" required>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 mb-3">
            <div class="form-group">
              <label for="newpass">Nova senha</label>
              <input type="password" class="form-control" formControlName="newpass" id="newpass" placeholder="Nova senha" required>
            </div>
          </div>
          <button class="btn btn-success" type="submit">Atualizar</button>
          <button class="btn btn-danger" type="button" (click)="change_pass()" style="margin-left: 1%">Cancelar</button>
        </form>
      </div>
    </div>

    <div class="card-body" *ngIf="namePageAux === 'Cupons'">
      <div class="container" style="margin-top: -2.5%;">
        <form class="needs-validation" role="form" [formGroup]="formCoupon" (ngSubmit)="insertUserCoupon(formCoupon)" id="form">
          <div class="col-sm-12 col-md-12 mb-3">
            <div class="form-group">
              <label for="coupon">Insira um cupom válido</label>
              <input type="text" class="form-control" formControlName="coupon" id="coupon" placeholder="Cupom" required>
            </div>
          </div>
          <button class="btn btn-success" type="submit" style="margin-left: 1.5%;">Adicionar</button>
        </form>

        <hr class="hr-coupon">

        <h5 class="card-title" style="margin-top: 2%;">Meus cupons</h5>

        <table id="table-list" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Cupom</th>
              <th scope="col">Valor</th>
              <th scope="col">Expira</th>
            </tr>
          </thead>
          <tbody *ngFor="let i of rowsCoupom;">
            <tr>
              <td>{{i.name}}</td>
              <td>{{i.value}}%</td>
              <td>{{i.expire_at | date: 'dd/MM/yyyy'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card-body" *ngIf="namePageAux === 'Minhas compras'">
      <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Status</th>
              <th scope="col">Data</th>
              <th scope="col">Hora</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of rowsPurchases" (click)="getOnePurchase(i.id)">
              <td>{{i.status}}</td>
              <td>{{i.created_at | date: 'dd/MM/yyyy'}}</td>
              <td>{{i.created_at | date: 'hh:mm:ss a'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
<!-- /container -->
<button id="openModalEle" #openModalEle [hidden]="true" (click)="openModal(content)"></button>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Seu cadastro está incompleto.</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>Deseja finalizá-lo agora?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success float-right" (click)="finishRegister(); c('Close click')">Sim</button>
    <button type="button" class="btn btn-primary" (click)="c('Close click')">Agora não</button>
  </div>
</ng-template>