<div class="container">
  <nav id="breadc" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a id="btn-breadcrumb" (click)="list()">Listagem de Categoria</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{ mode }} de Categoria</li>
    </ol>
  </nav>

  <div class="jumbotron">
    <h2 class="h2-text">{{ mode }} Categoria</h2>
  </div>

  <div class="container">
    <form role="form" [formGroup]="formulario" (ngSubmit)="onSubmit(formulario)">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <label for="category">Categoria</label>
            <input type="category" class="form-control" formControlName="category" id="category" placeholder="Digite a categoria">
          </div>
        </div>
        <div class="col-sm-12 col-md-6" *ngIf="LoadCurrentImg != null">
          <div class="form-group">
            <label for="type">Banner Atual</label>
            <br>
            <img src="{{imgSRC}}" width="200" height="100" />
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <label for="type">Banner da Categoria</label>
            <div class="inline-block">
              <input type="file" class="form-control-file " id="exampleFormControlFile1" (change)="handleFileSelect($event)"
                multiple />
            </div>
          </div>
        </div>
      </div>

      <div style="margin-bottom: 40px">
        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of imagesToUpload;let i=index; trackBy: trackByFn">
              <td>
                <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.type)>=0">
                  <div class="previewIcon" [ngfBackground]="item"></div>
                </div>
                <strong>{{ item.name }}</strong>
              </td>
              <td nowrap>
                <button type="button" class="btn btn-danger btn-xs" (click)="removeFile(i,item)">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <button id="add" type="submit" class="btn btn-success">Cadastrar</button>
      <button id="cancel" type="button" class="btn btn-danger" (click)="navToListCat()">Cancelar</button>
    </form>
  </div>

</div>