<div class="container">
  <div class="jumbotron">
    <h2 class="h2-text">Home Controller</h2>
  </div>

  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item" *ngFor="let i of pageArr">
          <a class="nav-link {{ i.active }}" href="javascript:void(0)" (click)="changePage(i.name)">{{ i.name }}</a>
        </li>
      </ul>
    </div>

    <div class="card-body" *ngIf="namePageAux === 'Banner Images'">
      <div class="container">
        <ng-container *ngIf="LoadCurrentImg != null">
          <label for="type">Banner Atuais</label>
          <br>
          <div class="row">
            <div class="col-sm-12 col-md-4" *ngFor="let i of imgSRC">
              <img src="{{i}}" class="imagesUploaded" />
            </div>
          </div>
        </ng-container>

        <div class="row" *ngIf="LoadCurrentImg != null">
          <div class="col-12">
            <div class="form-group">
              <div class="inline-block">
                <input #fileInput type="file" class="form-control-file" id="exampleFormControlFile1" (change)="handleUpdateFile($event)"
                  multiple />
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="LoadCurrentImg != null">
          <div class="col-12">

            <div style="margin-bottom: 40px">
              <table class="table">
                <thead>
                  <tr>
                    <th>Images</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <div *ngFor="let file of rowsImagesObj;let j=index;trackBy: trackByFn">
                      <td>
                        <img class="form-control imagesUploaded" alt="" [src]="file.url || file.location_aws">
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger btn-xs" (click)="removeFile(j,file)">
                          <span class="fa fa-trash"></span>
                        </button>
                      </td>
                    </div>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <button id="add" type="submit" class="btn btn-success" (click)="updateBannerImages()">Cadastrar</button>
        </div>


        <div class="row" *ngIf="LoadCurrentImg == null">
          <label for="type">Você não tem nenhum banner inserido ainda.</label>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <div class="inline-block">
                  <input #fileInput type="file" class="form-control-file " id="exampleFormControlFile1" (change)="handleFileSelect($event)"
                    multiple />
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div style="margin-bottom: 40px">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of imagesToUpload;let i=index;trackBy: trackByFn">
                    <td>
                      <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.type)>=0">
                        <div class="previewIcon" [ngfBackground]="item"></div>
                      </div>
                      <strong>{{ item.name }}</strong>
                    </td>
                    <td nowrap>
                      <button type="button" class="btn btn-danger btn-xs" (click)="removeFileInsert(i)">
                        <span class="fa fa-trash"></span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <button id="add" type="submit" class="btn btn-success" (click)="insertBannerImages()">Cadastrar</button>
        </div>

      </div>
    </div>

    <div class="card-body" *ngIf="namePageAux === 'Produtos mais Vendidos'">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <h3>Produtos selecionados para aparecerem na página inicial</h3>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Imagem</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Preço</th>
                  <th scope="col">Tamanho</th>
                  <th scope="col">Material</th>
                  <th scope="col">Posição</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-purchases" id="col-sub-product" *ngFor="let i of actualProducts">
                  <td>
                    <img class="form-control" id="imgSubProduct" src="{{i.location_aws}}">
                  </td>
                  <td>{{i.name}}</td>
                  <td>{{i.price}}</td>
                  <td>{{i.size}}</td>
                  <td>{{i.material}}</td>
                  <td>
                    <input type="number" class="form-control" id="position" placeholder="{{i.position}}" (blur)="position($event)">
                  </td>
                  <td class="action">
                    <button type="button" class="btn btn-success btn-md btn-update-home-product-left" (click)="updatePositionHomeProduct(i.id)">
                      <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-md" (click)="removeHomeProduct(i.id)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-sm-12 col-md-12" style="margin-top: 3%">
            <h3>Produtos que podem ser selecionados para aparecerem na página inicial</h3>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Imagem</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Preço</th>
                  <th scope="col">Posição</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let i of rowsProduct">
                  <tr class="table-purchases" id="col-sub-product">
                    <td>
                      <img class="form-control" id="imgSubProduct" src="{{i.location_aws}}">
                    </td>
                    <td>{{i.name}}</td>
                    <td>{{i.price}}</td>
                    <td>
                      <input #positionInput type="number" class="form-control" id="position" placeholder="Digite a posição" (keypress)="position($event.key)">
                    </td>
                    <td>
                      <button type="button" class="btn btn-success btn-md" (click)="makeFormHomeProducts(i.id_subproduct)">
                        <i class="fa fa-plus"></i>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <button id="add" type="submit" class="btn btn-success" (click)="insertHomeProduct()">Cadastrar</button>
        </div>
      </div>
    </div>

  </div>
</div>