<div class="container">
  <div class="jumbotron">
    <h2 class="h2-text">Listagem de Produto</h2>
  </div>

  <button id="btn-add" class="btn btn-success" (click)="navToRegsProd()">Adicionar novo Produto</button>

  <table id="table-list" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th scope="col">Modelo</th>
        <th scope="col">Tipo</th>
        <th scope="col" class="title-table">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of rowsProducts">
        <td>{{ i.name }}</td>
        <td>{{ i.description }}</td>
        <td>{{ i.model }}</td>
        <td>{{ i.type }}</td>
        <td class="action">
          <button type="button" class="btn btn-success btn-md" (click)="editProduct(i.id)">
            <i class="fa fa-plus"></i>
          </button>
          <button type="button" class="btn btn-danger btn-md" (click)="deleteProduct(i.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>