<div class="container">
  <div class="jumbotron">
    <h2 class="h2-text">Listagem de Produtos</h2>
  </div>

  <button id="btn-add" class="btn btn-success" (click)="navToRegsProd()">Adicionar novo Produto</button>

  <table id="table-list" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Tamanho</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Preço</th>
        <th scope="col">Descrição</th>
        <th scope="col">Cor</th>
        <th scope="col" class="title-table">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of rowsProducts">
        <td>{{ i.name }}</td>
        <td>{{ i.size }}</td>
        <td>{{ i.amount }}</td>
        <td>{{ i.price }}</td>
        <td>{{ i.description }}</td>
        <td>{{ i.color }}</td>
        <td class="action">
          <button type="button" class="btn btn-success btn-md" (click)="addSubProduct(i.id_product)">
            <i class="fa fa-plus"></i>
          </button>
          <button type="button" class="btn btn-danger btn-md" (click)="delete(i.id_product)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>