<div class="container">

  <div class="row">
    <div class="col-sm-12 col-md-5" *ngIf="ArrImg.length > 0">
      <div class="images" *ngIf="changeImgBool == false">
        <img id="img-product" src="{{ArrImg[0].img}}" class="img-fluid" style="margin-left: 22%; margin-top: 15%; width: 250px; height: 250px;" />
      </div>
      <div class="images" *ngIf="changeImgBool == true">
        <img id="img-product" src="{{ArrImg[imgIndex].img}}" class="img-fluid" style="margin-left: 22%; margin-top: 15%; width: 250px; height: 250px;" />
      </div>
      <ng-container *ngFor="let i of ArrImg">
        <img id="imgThumb" src="{{i.img}}" class="rounded float-left" alt="product" (click)="changeImg(i.index)">
      </ng-container>
    </div>

    <div class="col-sm-12 col-md-7">
      <div class="content">
        <div class="buy">
          <div class="row">
            <div class="col-6">
              <h3>{{productName}}</h3>
            </div>
            <div class="col-6" style="text-align: right">
              <a>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i> (1)
              </a>
            </div>
          </div>

          <hr style="margin-top: 3%; margin-bottom: 5%">

          <div class="row">
            <div class="col-6" style="text-align: center; margin-top: 1%;">
              <h5>
                <b>R$ {{productPrice}}</b>
              </h5>
            </div>
            <div class="col-6" style="text-align: center">
              <button class="btn btn-success" (click)="openModal(content)">
                <i id="iconCart" class="fa fa-shopping-cart"></i>Comprar</button>
            </div>
          </div>

          <hr style="margin-top: 5%">

          <div class="row" style="margin-bottom: -4%">
            <div class="col-2">
              <i id="iconCredit" class="fa fa-credit-card fa-2x"></i>
            </div>
            <div class="col-10" id="price" *ngIf="installments != 1">
              <p id="price-text">R$ {{productPrice}},00 em até {{installments}}x de R$ {{division}},00</p>
            </div>
            <div class="col-10" id="price" *ngIf="installments == 1">
              <p id="price-text">R$ {{productPrice}},00. Pagamento a vista</p>
            </div>
          </div>
        </div>

        <div class="end">
          <div class="row" class="col-sm-12">
            <div *ngIf='shipBox === false' class="col-12" style="margin-top: 1%;">
              <p>Frete para:
                <b>{{adressInfo.street}}, 99, {{adressInfo.neighborhood}} - {{adressInfo.city}}</b>
              </p>
              <p>CEP:
                <b>{{currentCep}}</b>
              </p>
              <p>Valor Sedex:
                <b>R${{rowsShipping[0].Valor}}</b>
              </p>
              <p>Valor PAC:
                <b>R${{rowsShipping[1].Valor}}</b>
              </p>
              <a class="btn">
                <i (click)="getShipPrice(true)"></i> Escolher outro endereço
              </a>
            </div>

            <form class="form-inline" *ngIf='shipBox === true'>
              <div class="col-xs-6 col-sm-6 col-md-4" id="inputLabelCEP">
                <div class="form-group">
                  <label id="labelCEP" for="cep">Calcule frete e prazo: </label>
                  <input type="cep" class="form-control" id="cep" aria-describedby="cepHelp" placeholder="CEP" #cep>
                </div>
              </div>
              <div class="col-sm-2 col-md-2" id="btnCEP">
                <button (click)="getShipPrice(cep)" class="btn btn-success">OK</button>
              </div>
            </form>

          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <div class="info">
        <div class="row">
          <div class="col-12" style="text-align: center">
            <h3>Informações do Produto</h3>
          </div>
        </div>

        <hr style="margin-top: 1%; margin-bottom: 3%">

        <div class="row">
          <div class="col-12" style="margin-top: 1%;">
            <p> {{productDescription}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12" style="margin-top: 1%;">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th scope="row">Código</th>
                  <td>1234519231</td>
                </tr>
                <tr>
                  <th scope="row">Tamanho</th>
                  <td>{{productSize}}</td>
                </tr>
                <tr>
                  <th scope="row">Cor</th>
                  <td>{{productColor}}</td>
                </tr>
                <tr>
                  <th scope="row">Garantia</th>
                  <td>1 mês</td>
                </tr>
                <tr>
                  <th scope="row">Conteúdo da Embalagem</th>
                  <td>1 Salto</td>
                </tr>
                <tr>
                  <th scope="row">SAC</th>
                  <td>(31)3222-2344</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 5%;">
    <div class="col-12">

      <div id="aval" class="aval">
        <div class="row">
          <div class="col-12">
            <h4 style="margin-top: 3%">Avaliações</h4>
          </div>
        </div>

        <hr>

        <div class="row" style="margin-top: 3%">
          <div class="col-sm-1 col-md-1" id="aval">
            <h4>4.0</h4>
          </div>
          <div class="col-sm-3 col-md-3" style="margin-top: 0.3%" id="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i> (1)
          </div>
          <div class="col-sm-5 col-md-5" id="drop-down">
            <div class="form-group">
              <select class="form-control">
                <option selected>Avaliações mais recentes</option>
                <option>Avaliações mais antigas</option>
                <option>Avaliações mais positivas</option>
                <option>Avaliações mais negativas</option>
              </select>
            </div>
          </div>
          <div class="col-sm-3 col-md-3" id="btn-aval" style="text-align: right">
            <button *ngIf='showCommentBox === false' class="btn btn-primary" (click)="showBox();">Avaliar</button>
          </div>
        </div>

        <hr style="margin-top: 1%; margin-bottom: 3%">

        <div class="row">
          <div class="container" *ngIf='showCommentBox === true'>
            <form role="form" [formGroup]="formulario" #form="ngForm" (ngSubmit)="onSubmit(formulario)">
              <div class="form-group">
                <label for="comment">Avaliação</label>
                <textarea class="form-control" id="comment" formControlName="comment" rows="3"></textarea>
              </div>
              <button class="btn btn-danger float-right" (click)="showBox(); form.reset()" style="margin-left: 1%">Cancelar</button>
              <button type="submit" class="btn btn-success float-right">Enviar</button>
            </form>
          </div>
        </div>

        <div class="rows" *ngFor='let i of rowsComment'>
          <div id="commentBox" class="rows col-1" style="margin-top: 1%;">
            <h5>{{i.name}}</h5>
            <div class="col-3" style="margin-top: 0.3%">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p style="text-align:right">{{i.created_at | date: "dd/MM/yyyy"}}</p>
          </div>
          <p>{{i.comment}}</p>
        </div>


      </div>
    </div>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">O que deseja fazer em seguida?</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <button type="button" class="btn btn-primary float-right" (click)="cart(); c('Close click')">Finalizar compra</button>
      <button type="button" class="btn btn-success" (click)="c('Close click')">Continuar comprando</button>
    </div>

  </ng-template>

</div>