<div class="container">

  <div class="row">
    <div class="col-5">
      <div class="images">
        <img src="../../../../assets/images/04(3)" class="img-fluid" style="margin-left: 20%; margin-top: 15%" />
      </div>
      <!--ng-container *ngFor="let i of ArrImg">
        <img id="imgThumb" src="{{i.img}}" class="rounded float-left" alt="...">
      </ng-container-->
    </div>

    <div class="col-7">
      <div class="content">
        <div class="buy">
          <div class="row">
            <div class="col-6">
              <h3>{{productName}}</h3>
            </div>
            <div class="col-6" style="text-align: right">
              <a>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i> (1)
              </a>
            </div>
          </div>

          <hr style="margin-top: 3%; margin-bottom: 5%">

          <div class="row">
            <div class="col-6" style="text-align: center; margin-top: 1%;">
              <h5>
                <b>R$ {{productPrice}}</b>
              </h5>
            </div>
            <div class="col-6" style="text-align: center">
              <button class="btn btn-success">
                <i id="iconCart" class="fa fa-shopping-cart"></i>Comprar</button>
            </div>
          </div>

          <hr style="margin-top: 5%">

          <div class="row" style="margin-bottom: -4%">
            <div class="col-1">
              <i id="iconCredit" class="fa fa-credit-card fa-2x"></i>
            </div>
            <div class="col-11" style="margin-top: 1%">
              <p>R$ 150,00 em até 2x de R$ 75,00 s/ juros</p>
            </div>
          </div>
        </div>

        <div class="end">
          <div class="row">
            <div class="col-12" style="margin-top: 1%;">
              <p>Frete para:
                <b>Rua Cristina, 99, Anchieta - Belo Horizonte</b>
              </p>
              <p>CEP:
                <b>30310-692</b>
              </p>
              <a href="#"> Escolher outro endereço </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <div class="info">
        <div class="row">
          <div class="col-12" style="text-align: center">
            <h3>Informações do Produto</h3>
          </div>
        </div>

        <hr style="margin-top: 1%; margin-bottom: 3%">

        <div class="row">
          <div class="col-12" style="margin-top: 1%;">
            <p> {{productDescription}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12" style="margin-top: 1%;">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th scope="row">Código</th>
                  <td>1234519231</td>
                </tr>
                <tr>
                  <th scope="row">Código de barras</th>
                  <td>889129381982</td>
                </tr>
                <tr>
                  <th scope="row">Cor</th>
                  <td>{{productColor}}</td>
                </tr>
                <tr>
                  <th scope="row">Garantia</th>
                  <td>1 mês</td>
                </tr>
                <tr>
                  <th scope="row">Conteúdo da Embalagem</th>
                  <td>1 Salto</td>
                </tr>
                <tr>
                  <th scope="row">SAC</th>
                  <td>(31)3222-2344</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 5%;">
    <div class="col-12">

      <div id="aval" class="aval">
        <div class="row">
          <div class="col-12">
            <h4>Avaliações</h4>
          </div>
        </div>

        <hr>

        <div class="row" style="margin-top: 3%">
          <div class="col-1" style="text-align:right">
            <h4>4.0</h4>
          </div>
          <div class="col-3" style="margin-top: 0.3%">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i> (1)
          </div>
          <div class="col-5">
            <div class="form-group">
              <select class="form-control">
                <option selected>Avaliações mais recentes</option>
                <option>Avaliações mais antigas</option>
                <option>Avaliações mais positivas</option>
                <option>Avaliações mais negativas</option>
              </select>
            </div>
          </div>
          <div class="col-3" style="text-align: right">
            <button class="btn btn-primary">Avaliar</button>
          </div>
        </div>

        <hr style="margin-top: 1%; margin-bottom: 3%">

        <div class="row">
          <div class="col-6" style="margin-top: 1%;">
            <h5>
              Muito bom
            </h5>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <p>Produto de muita qualidade!</p>
          </div>
          <div class="col-6" style="text-align: right; margin-top: 1%;">
            <p>01/08/2018</p>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>