.fa-star-o,
.fa-star {
    color: gold
}

p {
    font-size: 14px;
}

.aval,
.info,
.end,
.buy {
    margin-top: 2%;
    padding: 4%;
    border-top: 1px solid #f2f2f2;
    border-bottom: 2px solid #CCCCCC;
    border-left: 2px solid #e1e1e1;
    border-right: 2px solid #e1e1e1;
}

.end {
    padding: 2%;
}

.info {
    padding: 2%;
}

.aval {
    padding: 2%;
}

#iconCredit {
    color: #FE980F;
}

#iconCart {
    color: #fff;
    margin-right: 4%;
}

a {
    color:#FE980F; 
    text-decoration: none;
}
  
a:hover {
    color:#000; 
    text-decoration:none; 
    cursor:pointer;  
}

#complete-register {
    color:#FE980F; 
    text-decoration: none;
}

#complete-register:hover {
    color:#000; 
    text-decoration:none; 
    cursor:pointer;  
}

.images {
    margin-top: 10%;
}

#imgThumb {
    width: 80px;
    height: 80px;
    border: 2px solid #e1e1e1;
    margin: 1%
}

#imgThumb:hover {
    cursor:pointer;  
}

tr {
    text-align: center;
}

#price {
    margin-top: 1%;
}


#labelCEP {
    color: #949494;
    font-size: 15px
}

#btnCEP {
    margin-top: 5.5%;
}

#product-price {
    text-align: center;
}

#commentBox {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-radius: 20px;
    margin-bottom: 2%;
}

#dateComment {
    text-align:right;
    margin-right: 2%;
    margin-top: 18%;
}

#starsComment {
    text-align:right;
    margin-right: -2%;
    margin-top: 1%
}

#avaliationComment {
    margin-left: 1%;
    text-align:justify;
    margin-right: 1%;
}

@media only screen and (max-width: 768px) {
    .images {
        margin-top: -5%;
        margin-left: -10%;
    }

    #imgThumb {
        width: 23%;
    }
    
    /* #price-text {
        margin-bottom: -5%;
    } */

    #btnCEP {
        margin-top: -23.3%;
        margin-left: 73%;
    }

    #inputLabelCEP {
        width: 80%;
    }

    #price {
        margin-top: -8.4%;
        margin-left: 13%;
    }

    #product-price {
        margin-top: 2%;
    }

    #nameComment {
        margin-top: 5%;
    }

    #starsComment {
        margin-top: -9%;
        margin-right: 1%;
    }
    
    #dateComment {
        margin-top: -3%;
    }
}