<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">
  <div class="col-md-12">
    <h2>Produtos
      <b>mais vendidos</b>
    </h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
        <div class="item carousel-item active">
          <div class="row">
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon">
                  <i class="fa fa-heart-o"></i>
                </span>
                <div class="img-box">
                  <img src="../../../assets/images/04(3)" class="img-responsive img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Salto alto</h4>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star-o"></i>
                      </li>
                    </ul>
                  </div>
                  <p class="item-price">
                    <s>R$400.00</s>
                    <b>R$369.00</b>
                  </p>
                  <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon">
                  <i class="fa fa-heart-o"></i>
                </span>
                <div class="img-box">
                  <img src="../../../assets/images/04(3)" class="img-responsive img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Salto alto</h4>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star-o"></i>
                      </li>
                    </ul>
                  </div>
                  <p class="item-price">
                    <s>R$25.00</s>
                    <b>R$23.99</b>
                  </p>
                  <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon">
                  <i class="fa fa-heart-o"></i>
                </span>
                <div class="img-box">
                  <img src="../../../assets/images/04(3)" class="img-responsive img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Salto alto</h4>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star-half-o"></i>
                      </li>
                    </ul>
                  </div>
                  <p class="item-price">
                    <s>R$899.00</s>
                    <b>R$649.00</b>
                  </p>
                  <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon">
                  <i class="fa fa-heart-o"></i>
                </span>
                <div class="img-box">
                  <img src="../../../assets/images/04(3)" class="img-responsive img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Salto alto</h4>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star-o"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star-o"></i>
                      </li>
                    </ul>
                  </div>
                  <p class="item-price">
                    <s>R$315.00</s>
                    <b>R$250.00</b>
                  </p>
                  <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item carousel-item">
          <div class="row">
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon">
                  <i class="fa fa-heart-o"></i>
                </span>
                <div class="img-box">
                  <img src="../../../assets/images/04(3)" class="img-responsive img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Salto alto</h4>
                  <p class="item-price">
                    <s>R$289.00</s>
                    <span>R$269.00</span>
                  </p>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star-o"></i>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon">
                  <i class="fa fa-heart-o"></i>
                </span>
                <div class="img-box">
                  <img src="../../../assets/images/04(3)" class="img-responsive img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Salto alto</h4>
                  <p class="item-price">
                    <s>R$1099.00</s>
                    <span>R$869.00</span>
                  </p>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star-half-o"></i>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon">
                  <i class="fa fa-heart-o"></i>
                </span>
                <div class="img-box">
                  <img src="../../../assets/images/04(3)" class="img-responsive img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Salto alto</h4>
                  <p class="item-price">
                    <s>R$109.00</s>
                    <span>R$99.00</span>
                  </p>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star-o"></i>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon">
                  <i class="fa fa-heart-o"></i>
                </span>
                <div class="img-box">
                  <img src="../../../assets/images/04(3)" class="img-responsive img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Salto alto</h4>
                  <p class="item-price">
                    <s>R$599.00</s>
                    <span>R$569.00</span>
                  </p>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star-o"></i>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item carousel-item">
          <div class="row">
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon">
                  <i class="fa fa-heart-o"></i>
                </span>
                <div class="img-box">
                  <img src="../../../assets/images/04(3)" class="img-responsive img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Salto alto</h4>
                  <p class="item-price">
                    <s>R$369.00</s>
                    <span>R$349.00</span>
                  </p>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star-o"></i>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon">
                  <i class="fa fa-heart-o"></i>
                </span>
                <div class="img-box">
                  <img src="../../../assets/images/04(3)" class="img-responsive img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Salto alto</h4>
                  <p class="item-price">
                    <s>R$315.00</s>
                    <span>R$250.00</span>
                  </p>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star-o"></i>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon">
                  <i class="fa fa-heart-o"></i>
                </span>
                <div class="img-box">
                  <img src="../../../assets/images/04(3)" class="img-responsive img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Salto alto</h4>
                  <p class="item-price">
                    <s>R$450.00</s>
                    <span>R$418.00</span>
                  </p>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star-half-o"></i>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="thumb-wrapper">
                <span class="wish-icon">
                  <i class="fa fa-heart-o"></i>
                </span>
                <div class="img-box">
                  <img src="../../../assets/images/04(3)" class="img-responsive img-fluid" alt="">
                </div>
                <div class="thumb-content">
                  <h4>Salto alto</h4>
                  <p class="item-price">
                    <s>RR$350.00</s>
                    <span>RR$330.00</span>
                  </p>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star-o"></i>
                      </li>
                    </ul>
                  </div>
                  <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel controls -->
      <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
        <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>