<div class="row blog">
  <div class="col-md-12">
    <h2>Produtos
      <b>mais vendidos</b>
    </h2>

    <div id="top-selling-products-carousel" class="carousel slide" data-ride="carousel" *ngIf="actualProductsOrdered != undefined">
      <ol class="carousel-indicators">
        <li *ngIf="first4positions.length > 0" data-target="#top-selling-products-carousel" data-slide-to="0" class="active"></li>
        <li *ngIf="second4positions.length > 0" data-target="#top-selling-products-carousel" data-slide-to="1"></li>
        <li *ngIf="third4positions.length > 0" data-target="#top-selling-products-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" *ngIf="first4positions.length > 0">
          <div class="row">
            <div class="col-md-3" *ngFor="let j of first4positions">
              <div class="thumb-wrapper">
                <span class="wish-icon" (click)="addProductToWishList(j.id_subproduct)">
                  <i class="fa fa-star-o"></i>
                </span>
                <div class="img-box">
                  <img src="{{j.location_aws}}" class="img-responsive img-fluid img-product" alt="">
                </div>
                <div class="thumb-content">
                  <h4>{{j.name}}</h4>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star-half-o"></i>
                      </li>
                    </ul>
                  </div>
                  <p class="item-price">
                    <s>R$899.00</s>
                    <b>R${{j.price}}.00</b>
                  </p>
                  <a class="btn btn-primary" (click)="addProductToCart(j.id_subproduct);">Adicionar ao Carrinho</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item" *ngIf="second4positions.length > 0">
          <div class="row">
            <div class="col-md-3" *ngFor="let i of second4positions">
              <div class="thumb-wrapper">
                <span class="wish-icon">
                  <i class="fa fa-star-o" (click)="addProductToWishList(i.id_subproduct)"></i>
                </span>
                <div class="img-box">
                  <img src="{{i.location_aws}}" class="img-responsive img-fluid img-product" alt="">
                </div>
                <div class="thumb-content">
                  <h4>{{i.name}}</h4>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star-half-o"></i>
                      </li>
                    </ul>
                  </div>
                  <p class="item-price">
                    <s>R$899.00</s>
                    <b>R${{i.price}}.00</b>
                  </p>
                  <a class="btn btn-primary" (click)="addProductToCart(i.id_subproduct);">Adicionar ao Carrinho</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="carousel-item" *ngIf="third4positions.length > 0">
          <div class="row">
            <div class="col-md-3" *ngFor="let k of third4positions">
              <div class="thumb-wrapper">
                <span class="wish-icon">
                  <i class="fa fa-star-o" (click)="addProductToWishList(k.id_subproduct)"></i>
                </span>
                <div class="img-box">
                  <img src="{{k.location_aws}}" class="img-responsive img-fluid img-product" alt="">
                </div>
                <div class="thumb-content">
                  <h4>{{k.name}}</h4>
                  <div class="star-rating">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-star-half-o"></i>
                      </li>
                    </ul>
                  </div>
                  <p class="item-price">
                    <s>R$899.00</s>
                    <b>R${{k.price}}.00</b>
                  </p>
                  <a class="btn btn-primary" (click)="addProductToCart(k.id_subproduct);">Adicionar ao Carrinho</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control left carousel-control-prev" data-target="#top-selling-products-carousel" data-slide="prev">
        <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control right carousel-control-next" data-target="#top-selling-products-carousel" data-slide="next">
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>