<div class="container">
  <h1 class="h2-text">Listagem Categoria</h1>

  <table id="table-list" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Categoria</th>
        <th scope="col">Tipo</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody *ngFor="let i of rowsCategory">
      <tr>
        <td>{{ i.category }}</td>
        <td>{{ i.type }}</td>
        <td>
          <button>Editar</button>
          <button>Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>