<div class="container">
  <div class="jumbotron">
    <h2 class="h2-text">Listagem de Categoria</h2>
  </div>

  <button id="btn-add" class="btn btn-success" (click)="navToRegsCat()">Adicionar nova Categoria</button>

  <table id="table-list" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Categoria</th>
        <th scope="col" class="title-table">Ação</th>
      </tr>
    </thead>
    <tbody *ngFor="let i of rowsCategory;">
      <tr>
        <td>{{ i.category }}</td>
        <td class="action">
          <button type="button" class="btn btn-primary btn-md" (click)="update(i.id)">
            <i class="fa fa-pencil-square-o"></i>
          </button>
          <button type="button" class="btn btn-danger btn-md" (click)="delete(i.id, i.key_aws)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>