#principal_btn {
    border-color: #FE980F;
    color: #FE980F;
}

#principal_btn:hover {
    background-color: #FE980F;
    color: #fff;
}

.modal-header {
    background-color: #FE980F;
}

.modal-title {
    color: #fff
}