<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Entrar</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form role="form" [formGroup]="formulario" (ngSubmit)="onSubmit(formulario)">
    <div class="modal-body">
      <div class="form-group">
        <label for="email1">Email</label>
        <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp" placeholder="">
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" formControlName="password" id="password" placeholder="">
      </div>
    </div>
    <div class="modal-footer">
      <!-->button type="button" class="btn" (click)="c('Close click')">Cancelar</button-->
      <button type="submit" id="principal-btn" class="btn">Entrar</button>
    </div>
  </form>
</ng-template>

<button id="principal_btn" class="{{ classes }}" (click)="openModal(content)">Entrar</button>