#principal_btn {
    border-color: #000;
    color: #000;
    background-color: #fff
}

#principal_btn:hover {
    background-color: rgb(114, 110, 106);
    color: #fff;
}

.modal-header {
    background-color: #FE980F;
}

.modal-title {
    color: #fff
}