<div class="wrapper">
  <!-- Main Header -->
  <app-header></app-header>
  
  <!-- Content Wrapper. Contains page content -->
  <!--app-starter-content></app-starter-content-->
  <div class="content-wrapper">
    <div class="content">
      <div class="home-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <!-- Main Footer -->
  <app-footer></app-footer>
  
  <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>