<div class="container">
    <form role="form" [formGroup]="formulario" id="form">
        <div class="form-row">
            <div class="col-sm-12 col-md-3 mb-3">
                <div class="form-group">
                    <label for="status">Status</label>
                    <input type="text" class="form-control" formControlName="status" id="name" placeholder="Status" value="{{status}}" required
                        readonly>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 mb-3">
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                        </div>
                        <input type="text" class="form-control" formControlName="email" id="email" placeholder="Email" aria-describedby="inputGroupPrepend"
                            value="{{email}}" readonly>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 mb-3">
                <div class="form-group">
                    <label for="first_name">Primeiro nome</label>
                    <input type="text" class="form-control" formControlName="first_name" id="first_name" placeholder="Primeiro nome" value="{{first_name}}"
                        required readonly>
                </div>
            </div>

            <div class="col-sm-12 col-md-2 mb-3">
                <div class="form-group">
                    <label for="first_name">Último nome</label>
                    <input type="text" class="form-control" formControlName="last_name" id="last_name" placeholder="Primeiro nome" value="{{last_name}}"
                        required readonly>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-sm-12 col-md-4 mb-3">
                <div class="form-group">
                    <label for="line1">Endereço</label>
                    <input type="text" class="form-control" formControlName="line1" id="line1" placeholder="Endereço" value="{{line1}}" required
                        readonly>
                </div>
            </div>
            <div class="col-sm-12 col-md-1 mb-3">
                <div class="form-group">
                    <label for="state">Estado</label>
                    <input type="text" class="form-control" formControlName="state" id="state" placeholder="Estado" value="{{state}}" required
                        readonly>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-3">
                <div class="form-group">
                    <label for="city">Cidade</label>
                    <input type="text" class="form-control" formControlName="city" id="city" placeholder="Cidade" value="{{city}}" required readonly>
                </div>
            </div>
            <div class="col-sm-12 col-md-2 mb-3">
                <div class="form-group">
                    <label for="total">Preço total</label>
                    <input type="number" class="form-control" formControlName="total" id="total" placeholder="Total" value="{{total}}" required
                        readonly>
                </div>
            </div>

            <div class="col-sm-12 col-md-2 mb-3">
                <div class="form-group">
                    <label for="shipping">Frete</label>
                    <input type="number" class="form-control" formControlName="shipping" id="shipping" placeholder="Frete" value="{{shipping}}"
                        required readonly>
                </div>
            </div>
        </div>

        <div class="row" *ngFor="let i of items" id="container-product">
            <div class="col-sm-12 col-md-4 mb-3">
                <div class="form-group">
                    <label for="item_name">Nome do produto</label>
                    <input type="text" class="form-control" formControlName="item_name" id="item_name" placeholder="Nome do item" value="{{i.name}}"
                        required readonly>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-3">
                <div class="form-group">
                    <label for="item_price">Preço</label>
                    <input type="number" class="form-control" formControlName="item_price" id="item_price" placeholder="Preço" value="{{i.price}}"
                        required readonly>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-3">
                <div class="form-group">
                    <label for="item_quantity">Quantidade</label>
                    <input type="number" class="form-control" formControlName="item_quantity" id="item_quantity" placeholder="Quantidade" value="{{i.quantity}}"
                        required readonly>
                </div>
            </div>
        </div>

        <div class="row" id="date-hour">
            <div class="col-sm-12 col-md-3 mb-3">
                <div class="form-group">
                    <label for="date">Data da compra</label>
                    <input type="date" class="form-control" formControlName="date" id="date" placeholder="Data" value="{{date | date: 'dd/MM/yyyy'}}"
                        required readonly>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-3">
                <div class="form-group">
                    <label for="hour">Hora</label>
                    <input type="number" class="form-control" formControlName="hour" id="hour" placeholder="Hora" value="{{hour}}" required readonly>
                </div>
            </div>
        </div>
    </form>

</div>
