<div class="container">
  <div class="content" style="margin-top: 2%">
    <p>Meus produtos favoritos</p>
    <hr style="border-bottom-width: 50px;">
  </div>

  <div class="row" style="margin-top: 5%; margin-bottom: 2%">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Produto</th>
            <th scope="col">Nome/Tamanho</th>
            <th scope="col">Preço</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">
              <div id="leftsidemenu">
                <img src="../../../../assets/images/04(3)" style="width: 80px; height: 80px;">
              </div>
            </td>
            <td>
              <p>Salto alto - 34</p>
            </td>
            <td>R$ 150,00</td>
            <td>
              <button class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>