<div class='container'>
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="../../../assets/images/75849-6-dicas-de-sapatos-incriveis-para-baixinhas" style="width: 1150px; height: 600px;" alt="first-slide">
      <div class="carousel-caption">
        <h3>First slide...</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../assets/images/75849-6-dicas-de-sapatos-incriveis-para-baixinhas" style="width: 1150px; height: 600px;" alt="second-slide">
      <div class="carousel-caption">
        <h3>Second slide...</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../../../assets/images/75849-6-dicas-de-sapatos-incriveis-para-baixinhas" style="width: 1150px;  height: 600px;" alt="third-slide">
      <div class="carousel-caption">
        <h3>Third slide...</h3>
      </div>
    </ng-template>
  </ngb-carousel>
  <app-top-selling-products></app-top-selling-products>
</div>