<div class="container">
  <nav id="breadc" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="product_list">Listagem de Produtos</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Cadastro de Produto</li>
    </ol>
  </nav>

  <div class="jumbotron">
    <h2 class="h2-text">{{mode}}</h2>
  </div>

  <div class="container">
    <form role="form" [formGroup]="formulario" (ngSubmit)="onSubmit(formulario)">
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" formControlName="name" id="name" placeholder="Digite o nome">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="id_category">Categoria</label>
            <select class="form-control" formControlName="id_category" id="category">
              <ng-container *ngFor="let i of rowsCategory">
                <option value="{{i.id}}">{{i.category}}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="model">Modelo</label>
            <input type="text" class="form-control" formControlName="model" id="model" placeholder="Digite o modelo">
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="type">Tipo</label>
            <input type="text" class="form-control" formControlName="type" id="type" placeholder="Digite o tipo">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Descrição</label>
            <textarea type="text" class="form-control" formControlName="description" rows="3" id="description"
              placeholder="Digite a descrição"></textarea>
          </div>
        </div>
      </div>

      <button *ngIf="mode == 'Cadastrar'" id="add" type="submit" class="btn btn-success">Cadastrar</button>
      <button *ngIf="mode == 'Cadastrar Subproduto'" id="add" type="button" (click)="updateMainProduct(formulario)"
        class="btn btn-success">Atualizar</button>
      <button id="cancel" type="button" class="btn btn-danger" (click)="navToListCoup()">Cancelar</button>
    </form>
  </div>

  <div class="container" *ngIf="mode == 'Cadastrar Subproduto'">
    <form role="form" [formGroup]="formularioSubProduct" #form="ngForm" (ngSubmit)="onSubmit(formularioSubProduct)">
      <div id="accCont">
        <ngb-accordion [closeOthers]="true" activeIds="static-1">
          <ngb-panel title="Adicionar novo">
            <ng-template ngbPanelContent>
              <div class="row">
                <div class="col-2">
                  <div class="form-group">
                    <label for="size">Tamanho</label>
                    <input type="number" class="form-control" formControlName="size" id="size" placeholder="Tamanho">
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label for="amount">Quatidade</label>
                    <input type="number" class="form-control" formControlName="amount" id="amount" placeholder="Quantidade">
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="color">Cor</label>
                    <input type="text" class="form-control" formControlName="color" id="color" placeholder="Cor">
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label for="price">Preço</label>
                    <input type="number" class="form-control" formControlName="price" id="price" placeholder="Preço">
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label for="old_price">Preço Antigo</label>
                    <input type="number" class="form-control" formControlName="old_price" id="old_price" placeholder="Preço">
                  </div>
                </div>
              </div>

              <div class="row" style="margin-left: 2.3%; margin-bottom: 2%">
                <div>
                  <input type="checkbox" class="form-check-input" id="defaultProduct" (change)="changeDiscount($event.target)">
                  <label class="form-check-label" for="defaultProduct">Desconto</label>
                </div>

                <div style="margin-left: 3%;">
                  <input type="checkbox" class="form-check-input" id="defaultProduct" (change)="changePromotionProduct($event.target)">
                  <label class="form-check-label" for="defaultProduct">Promoção</label>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <div class="inline-block">
                      <input type="file" class="form-control-file " id="exampleFormControlFile1" (change)="handleFileSelect($event)"
                        multiple />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">

                  <div style="margin-bottom: 40px">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Nome</th>
                          <th>Tipo</th>
                          <th>Tamanho</th>
                          <th>Ações</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of imagesToUpload;let i=index">
                          <td>
                            <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.type)>=0">
                              <div class="previewIcon" [ngfBackground]="item"></div>
                            </div>
                            <strong>{{ item.name }}</strong>
                          </td>
                          <td nowrap>
                            {{ item.type }}
                          </td>
                          <td nowrap>
                            {{ item.size/1024/1024 | number:'.2' }} MB
                          </td>
                          <td nowrap>
                            <button type="button" class="btn btn-danger btn-xs" (click)="removeFile(i,item)">
                              <span class="fa fa-trash"></span>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>

              <button id="add" type="submit" class="btn btn-success">Cadastrar</button>
              <button id="cancel" type="button" class="btn btn-danger" (click)="form.reset()">Cancelar</button>

            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </form>

    <form role="form" [formGroup]="formularioSubProduct" #form="ngForm" (ngSubmit)="onSubmit(formularioSubProduct)">
      <div id="accCont">
        <ngb-accordion [closeOthers]="true" activeIds="static-1" *ngFor='let item of rowsSubProducts;let i=index'>
          <ngb-panel title="{{i + 1}} Variação">
            <ng-template ngbPanelContent>

              <div class="row">
                <div class="col-2">
                  <div class="form-group">
                    <label for="size">Tamanho</label>
                    <input type="number" class="form-control" formControlName="size" id="size" placeholder="Tamanho">
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label for="amount">Quatidade</label>
                    <input type="number" class="form-control" formControlName="amount" id="amount" placeholder="Quantidade">
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="color">Cor</label>
                    <input type="text" class="form-control" formControlName="color" id="color" placeholder="Cor">
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label for="price">Preço</label>
                    <input type="number" class="form-control" formControlName="price" id="price" placeholder="Preço">
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label for="old_price">Preço Antigo</label>
                    <input type="number" class="form-control" formControlName="old_price" id="old_price" placeholder="Preço">
                  </div>
                </div>
              </div>

              <div class="row" style="margin-left: 2.3%; margin-bottom: 2%">
                <div>
                  <input type="checkbox" class="form-check-input" id="defaultProduct" (change)="changeDiscount($event.target)">
                  <label class="form-check-label" for="defaultProduct">Desconto</label>
                </div>

                <div style="margin-left: 3%;">
                  <input type="checkbox" class="form-check-input" id="defaultProduct" (change)="changePromotionProduct($event.target)">
                  <label class="form-check-label" for="defaultProduct">Promoção</label>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <div class="inline-block">
                      <input type="file" class="form-control-file " id="exampleFormControlFile1" (change)="handleFileSelect($event)"
                        multiple />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">

                  <div style="margin-bottom: 40px">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Nome</th>
                          <th>Tipo</th>
                          <th>Tamanho</th>
                          <th>Ações</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of imagesToUpload;let i=index">
                          <td>
                            <div *ngIf="['image/gif','image/png','image/jpeg'].indexOf(item.type)>=0">
                              <div class="previewIcon" [ngfBackground]="item"></div>
                            </div>
                            <strong>{{ item.name }}</strong>
                          </td>
                          <td nowrap>
                            {{ item.type }}
                          </td>
                          <td nowrap>
                            {{ item.size/1024/1024 | number:'.2' }} MB
                          </td>
                          <td nowrap>
                            <button type="button" class="btn btn-danger btn-xs" (click)="removeFile(i,item)">
                              <span class="fa fa-trash"></span>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>

              <button id="add" type="button" class="btn btn-success" (click)="updateSubProduct(form)">Atualizar</button>
              <button id="cancel" type="button" class="btn btn-danger" (click)="form.reset()">Cancelar</button>

            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </form>

  </div>

</div>








<!-->div class="col-md-12 text-center">
<ul id="myPager" class="pagination">
  <li class=""><a href="#" class="prev_link" style="display: block;">«</a></li>
  <li><a href="#" class="page_link active">1</a></li>
  <li class="active"><a href="#" class="page_link">2</a></li>
  <li class=""><a href="#" class="page_link">3</a></li>
  <li><a href="#" class="next_link" style="display: block;">»</a></li>
</ul>
</div-->