<div class="container">
  <div class="row">
    <div class="col-3" (click)="registerCategory()">
      <div class="first cat">
        <h3>Categoria</h3>
      </div>
    </div>
    <div class="col-3" (click)="registerProduct()">
      <div class="first prod">
          <h3>Produto</h3>
      </div>
    </div>
    <div class="col-3" (click)="registerCoupon()">
      <div class="first cou">
          <h3>Cupom</h3>
      </div>
    </div>
    <div class="col-3" (click)="registerCategory()">
      <div class="first img">
          <h3>Imagem</h3>
      </div>
    </div>
  </div>
</div>