<div class='container'>
  <header class="blog-header py-3">
    <div class="row flex justify-content-between align-items-center">
      <div class="col-sm-6 pt-1">
        <!--img class="logo" src='../../../../assets/images/logoTutuGuerra.jpeg' href="javascript:void(0);" (click)="home()"-->
        <img class="logo" src='../../../../assets/images/project_1507733529688.png' href="javascript:void(0);" (click)="home()">
      </div>
      <div class="col-sm-6 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="mx-3">
            <circle cx="10.5" cy="10.5" r="7.5"></circle>
            <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
          </svg>
        </a>

        <ng-container *ngIf="logged == true && admin == true">
          <a class="btn btn-sm btn-outline-secondary" href="javascript:void(0);" (click)="cart()" style="margin-right: 2%">Carrinho</a>

          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-sm btn-outline" id="dropdown-btn" ngbDropdownToggle>Olá, {{ userNameDecoded }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdown-btn">
              <button class="dropdown-item">Meu perfil</button>
              <button class="dropdown-item">Dashboard</button>
              <button class="dropdown-item" (click)="registerCategory()">Cadastrar categoria</button>
              <button class="dropdown-item" (click)="registerProduct()">Cadastrar produto</button>
              <button class="dropdown-item" (click)="registerCoupon()">Cadastrar cupom desconto</button>
              <button class="dropdown-item">Atualizações</button>
              <button class="dropdown-item" (click)="logout()">Sair</button>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="logged == true && admin == false">
          <a class="btn btn-sm btn-outline-secondary" style="margin-right: 2%" href="javascript:void(0);" (click)="cart()">Carrinho</a>

          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-sm btn-outline" id="dropdown-btn" ngbDropdownToggle>Olá, {{ userNameDecoded }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdown-btn">
              <button class="dropdown-item">Meu perfil</button>
              <button class="dropdown-item" (click)="logout()">Sair</button>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="logged == false">
          <app-modal-login classes="btn btn-sm btn-outline" style="margin-right: 10px"></app-modal-login>
          <modal-register classes="btn btn-sm"></modal-register>
        </ng-container>
      </div>
    </div>
  </header>
  <hr>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a id="btn_nav" class="p-2" href="javascript:void(0);" (click)="home()">Pagina Inicial</a>
      <a id="btn_nav" class="p-2" href="javascript:void(0);" (click)="shoeList()">Sapatos</a>
      <a id="btn_nav" class="p-2" href="#">Bolsas</a>
      <a id="btn_nav" class="p-2" href="#">Cintos</a>
      <a id="btn_nav" class="p-2" href="#">Sobre</a>
      <a id="btn_nav" class="p-2" href="#">Contate-nos</a>
    </nav>
  </div>
</div>